<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" style="background-color: yellow;" >
    <title>Xeno Underwriting Services</title>

</head>
<body>
    <style> body { color: rgb(54, 143, 10); } </style>
    <h1>Xeno Underwriting Services - MVP </h1>
    <hr> 
</body>
<body>

    <form action="results">
    
        Number Of Claims : <input type="'number" name="ClaimsNB" required ><br>
        Exposure : <input type="'number" name="Exposure" required ><br>
        Vehicle Power : <input type="text" name="VehPower" required ><br>
        Vehicle Age  : <input type="'number" name="VehAge" required ><br>
        Driver's Age : <input type="'number" name="DrivAge" required ><br>
        Vehicle Brand : <input type="text" name="VehBrand" required ><br>
        Vehicle Gas Type : <input type="text" name="VehGas" required ><br>
        Density  : <input type="'number" name="Density" required ><br>
        Previous Claim Amount : <input type="'number" name="ClaimAmount" required ><br>


     Click Submit to get your optimal pure premium :
        <input type= "submit">
        
    </form>

</body>
</html>